<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CJRunTimeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD2128481F4D6CEC00CC2BBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD2128611F4D6CED00CC2BBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD21286C1F4D6CED00CC2BBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
